@use '../../globalStyle.scss';
@use '../../variables.scss';

.add-to-cart-btn {
    padding: 16px 32px;
    background: variables.$clr-accent;
    text-decoration: none;
    color: variables.$clr-light;
    font-family: variables.$ff-Raleway;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}