@use "../../globalStyle.scss";
@use "../../variables.scss";

.price {
    font-weight: 700;
    
    h3 {
        font-family: variables.$ff-RobotoCondensed;
        font-size: 18px;
        line-height: 18px;
    }
    
    span {
        font-size: 24px;
        font-family: variables.$ff-Raleway;
    }
}

.price.small {

    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
    }
    
}