@use '../../globalStyle.scss';
@use '../../variables.scss';

.cart-product-photos {
    width: 200px;
    height: 288px;
    overflow-y: scroll;
}

.cart-product-photos.small {
    height: 190px;
    width: 121px;
}