@use "../../globalStyle.scss";
@use '../../variables.scss';

.mini-cart-element-details {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    height: 100%;
}