@use '../../variables.scss';
@use '../../globalStyle.scss';

.categories-list {
    // outline: 2px solid red;
    margin: 0;
    padding: 0;
    padding-top: 4px;
    padding-inline: 16px;
    display: flex;
    gap: 32px;
    height: 56px;
    
    &__category {
        text-transform: uppercase;
        background: transparent;
        border: none;   
        height: 100%;
        text-decoration: none;
        color: variables.$clr-primary;

        &[aria-selected=true] {
            color: variables.$clr-accent;
            border-bottom: 2px solid variables.$clr-accent;
        }
    }
}