@use "../../variables.scss";
@use "../../globalStyle.scss";

.cart-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;

    &__background {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        background: #39374838;
        z-index: 2;
    }

    &__cart {
        position: absolute;
        height: 677px;
        width: 325px;
        right: 100px;
        top: 0;
        padding: 32px 16px 32px 16px;
        background: variables.$background;
        z-index: 4;
    }
}