@use "../../globalStyle.scss";
@use "../../variables.scss";

.mini-cart-total-cost {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
}