@use "../../variables.scss";
@use "../../globalStyle.scss";

.product-details {
    width: 300px;
    height: auto;
    gap: 45px;
    display: flex;
    flex-direction: column;

    &__add-to-cart {
        padding: 16px 32px;
        background: variables.$clr-accent;
        border: none;
        color: variables.$clr-light;
        font-family: variables.$ff-Raleway;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
    }
}