@use "../../variables.scss";
@use "../../globalStyle.scss";

.product-details {
    width: 300px;
    height: auto;
    gap: 45px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: variables.$ff-Raleway;
        width: 100%;

        h1, h2 {
            font-size: 30px;
            line-height: 27px;
        }
        
        h1 {
            font-weight: 600;
        }

        h2 {
            font-weight: 400;
        }   
    }

    &__all-attributes {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__price {
        font-weight: 700;
        
        span {
            font-size: 24px;
            font-family: variables.$ff-Raleway;
        }
    }

    &__add-to-cart {
        padding: 16px 32px;
        background: variables.$clr-accent;
        text-decoration: none;
        color: variables.$clr-light;
        font-family: variables.$ff-Raleway;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

    }
    
    h3 {
        font-family: variables.$ff-RobotoCondensed;
        font-size: 18px;
        line-height: 18px;
    }
}