@use '../../variables.scss';
@use '../../globalStyle.scss';

.mini-cart {
    position: absolute;
    height: 677px;
    width: 325px;
    right: 100px;
    top: 0;
    padding: 32px 16px 32px 16px;
    background: variables.$background;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    overflow-y: scroll;

    &__header {
        font-family: variables.$ff-Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;

        strong {
            font-weight: 700;
        }
    }

    &__links-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 12px;
    }

    &__cart-link {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 32px;
        text-decoration: none;
        width: 140px;
        height: 43px;
        color: variables.$clr-primary;
        background: variables.$clr-light;
        border: 1px solid variables.$clr-primary;
        flex: none;
        order: 0;
        flex-grow: 0;
        font-family: variables.$ff-Raleway;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
    }

    &__check-out-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // padding: 16px 32px;
        width: 140px;
        height: 43px;
        background: variables.$clr-accent;
        flex: none;
        order: 0;
        flex-grow: 0;
        text-decoration: none;
        font-family: variables.$ff-Raleway;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: variables.$clr-light;
    }
}