@use '../../variables.scss';
@use '../../globalStyle.scss';

.mini-cart {
    position: absolute;
    height: 677px;
    width: 325px;
    right: 100px;
    top: 0;
    padding: 32px 16px 32px 16px;
    background: variables.$background;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__header {
        font-family: variables.$ff-Raleway;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: right;

        strong {
            font-weight: 700;
        }
    }
}