@use '../../globalStyle.scss';
@use '../../variables.scss';

header {
    // outline: 2px solid red;
    padding: 0px 100px;
    padding-top: 24px;
    height: 80px;
    width: 100vw;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: variables.$ff-Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    
    .categories-list {
        // outline: 2px solid red;
        margin: 0;
        padding: 0;
        padding-top: 4px;
        padding-inline: 16px;
        display: flex;
        gap: 32px;
        height: 56px;
        
        &__category {
            text-transform: uppercase;
            background: transparent;
            border: none;   
            height: 100%;
            text-decoration: none;
            color: variables.$clr-primary;

            &[aria-selected=true] {
                color: variables.$clr-accent;
                border-bottom: 2px solid variables.$clr-accent;
            }
        }
    }

    .logo-container {
        // outline: 2px solid red;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;

        img {
            pointer-events: none;
            margin-bottom: 15px;
        }
    }

    .actions {
        font-family: variables.$ff-Raleway;
        display: flex;
        justify-content: flex-end;
        // outline: 2px solid red;
        height: 40px;
        width: 204px;
        padding-block: 5.5px;
        overflow: visible;

        .currency-picker {
            // outline: 3px solid purple;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;

            .show-currencies-container {
                // outline: 2px solid red;
                min-height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;

                .show-currencies {
                    height: 100%;
                    background: transparent;
                    border: none;
                    display: grid;
                    place-items: center;
                    transition: .2s;

                }

                .dash-open {
                    transform: rotate(180deg);
                }
            }

            label {
                margin: auto;
            }

            select {
                margin: auto;
            }

            
            .currencies-options-container {
                padding-block: 7px;
                height: 169px;
                width: 114px;
                flex-direction: column;
                // outline: 2px solid green;
                position: relative;
                display: none;
                box-shadow: 0px 0px 30px 2px #EEEEEE;

                .currency-option {
                    background: transparent;
                    border: none;
                    padding-left: 20px;
                    height: 45px;
                    width: 100%;
                    text-align: left;
                    font-size: 18px;

                    &:hover,
                    &:focus-within {
                        background: #EEEEEE;
                    }

                    .currency-symbol {
                        margin-right: 5px;
                    }

                    .currency-symbol,
                    .currency-label {
                        pointer-events: none;
                    }
                }
            }

            .currencies-options-container-visible {
                display: flex;
            }
        }

        .cart {

            .cart__btn {
                height: 100%;
                width: 100%;
                background: transparent;
                border: none;
            }
        }
    }

}

