@use '../../globalStyle.scss';
@use '../../variables.scss';

header {
    padding: 0px 100px;
    padding-top: 24px;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: variables.$ff-Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;

}

