@use '../../variables.scss';
@use '../../globalStyle.scss';

.actions {
    font-family: variables.$ff-Raleway;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 204px;
    padding-block: 5.5px;
    overflow: visible;
}